name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Create Release
    runs-on: macos-latest

    steps:
    - name: Checkout code
    - uses: actions/checkout@v2
    - name: 버전 정보 추출
      run: echo "##[set-output name=version;]$(echo '${{ github.event.head_commit.message }}' | egrep -o '[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}')"
      id: extract_version_name    
    - name: Echo
      run: echo ${{ steps.tag.outputs.result }}
#     - name: Release 생성 
#       uses: actions/create-release@v1
#       env: 
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       with: 
#         tag_name: ${{ steps.extract_version_name.outputs.version }} 
#         release_name: ${{ steps.extract_version_name.outputs.version }} 
#         draft: false
#         prerelease: false
